@charset "UTF-8";
@import url(sanitize.css);
/* - - - - - - - - - - - - - - - -
　　　　共通事項
 - - - - - - - - - - - - - - - -*/
/* ----------------------- */
/* base
/* ----------------------- */
body {
  font-family: "ヒラギノ角ゴシック", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
  color: #1a1a1a;
  font-size: 14px;
  letter-spacing: .5px;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  /*display: inline-block;*/
  display: inline;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.6;
}

ol, ul {
  list-style: none;
}

.Heading {
  font-size: 65px;
  font-weight: 600;
}

.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cursor {
  width: 6px;
  height: 6px;
  background-color: #1a1a1a;
  z-index: 1001;
}

.follower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: solid #0059fe 2px;
  /*color: rgba(#0059fe, .5);*/
  z-index: 1000;
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
  text-align: center;
}

.follower span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.follower.is-active {
  -webkit-transform: scale(3);
          transform: scale(3);
  background: rgba(0, 89, 254, 0.5);
  border: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

/* ----------------------- */
/* header
/* ----------------------- */
.Header {
  position: fixed;
  top: 0;
  width: 100vw;
  line-height: 6vh;
  background-image: linear-gradient(120deg, rgba(224, 195, 252, 0.5) 0%, rgba(142, 197, 252, 0.5) 100%);
  background: 0, 0%, 100%, 0.8;
}

.Header-Inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4vw;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.Nav {
  margin-left: auto;
}

.Nav nav {
  display: inline;
}

.Nav-Checkbox, .Nav-Label {
  display: none;
}

.Nav-Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Nav-Item {
  font-size: 17px;
  font-weight: 600;
}

.Nav-Item a {
  color: white;
  padding-bottom: 5px;
}

.Nav-Item a:hover {
  color: #0048ce;
}

.Nav-Item:not(:last-child) {
  margin-right: 40px;
}

/* ----------------------- */
/* main
/* ----------------------- */
/* ----------------------- */
/* Profile
/* ----------------------- */
.Profile {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: white;
  height: 100vh;
}

.Profile-Layout {
  padding: 45vh 4vw 0;
}

.Profile-Layout img {
  width: 84px;
  float: left;
  margin-right: 40px;
}

.Profile-Layout p {
  margin: 0 auto;
}

.Profile-Layout p:nth-child(2) {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
}

.Profile-Layout p:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
}

/* ----------------------- */
/* About
/* ----------------------- */
.About {
  clear: left;
  color: #1a1a1a;
  margin: 15vh 4vw 25vh;
}

.About img {
  border-radius: 200px;
  width: 250px;
  float: left;
  margin-right: 8vw;
}

.About p:nth-child(3) {
  font-size: 20px;
  font-weight: 600;
}

.About p:nth-child(4) {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  overflow: hidden;
}

/* ----------------------- */
/* Service
/* ----------------------- */
.Service {
  background-image: linear-gradient(120deg, #cfa4f9 0%, #61a9f1 100%);
  color: white;
  padding: 15vh 4vw 20vh 4vw;
  clear: left;
}

.Service img {
  width: 130px;
}

.Service .Service-List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Service .Service-List .Service-Item {
  max-width: 400px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 31%;
          flex: 0 31%;
  padding: 0 0;
  margin: 2vw;
}

.Service .Service-List .Service-Item img {
  margin-bottom: 1vh;
}

.Service .Service-List .Service-Item p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5vh;
  letter-spacing: 1px;
}

.Service .Service-List .Service-Item p:nth-child(3) {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 1.5px;
}

/* ----------------------- */
/* Work
/* ----------------------- */
.Work {
  color: #1a1a1a;
  margin: 15vh 4vw 25vh;
}

.Work-Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: -2vh -1vw;
}

.Work-Cards .Card-Link {
  background: #E8E8E8;
  color: #1a1a1a;
  max-width: 100%;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 31%;
          flex: 0 31%;
  padding: 6vh 3vw;
  margin: 4vh 0;
}

.Work-Cards .Card-Link img {
  width: 90%;
  margin-bottom: 3vh;
}

/* ----------------------- */
/* Contact
/* ----------------------- */
.Contact {
  margin: 20vh 7vw 15vh;
}

.Contact-Inner {
  -webkit-box-shadow: 0 0 20px #989898;
          box-shadow: 0 0 20px #989898;
  max-width: 800px;
  margin: 0 auto;
  padding: 2vh 6vw 10vh 6vw;
}

.Contact-Inner label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.Contact-Inner input {
  border: none;
  border-bottom: 1px solid #577EC2;
  display: block;
  font-size: 17px;
  line-height: 2;
  max-width: 400px;
  width: 100%;
}

.Contact-Inner textarea {
  border: 1px solid #577EC2;
  border-radius: 5px;
  display: block;
  font-size: 17px;
  height: 25vh;
  margin-bottom: 24px;
  width: 90%;
}

.Contact-Content {
  margin-bottom: 24px;
}

.Radio-Content {
  font-weight: 600;
}

.Radio-Content div {
  display: block;
}

.Radio-Content input {
  display: inline;
  line-height: 2;
  margin-bottom: 0;
  max-width: auto;
  width: auto;
}

.Radio-Content label {
  color: #636363;
  display: inline;
  font-weight: 300;
}

.Contact-Submit {
  background-image: linear-gradient(120deg, #005c97 0%, #363795 100%);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .5em;
  padding: 1.5vh 1vw;
  width: 40%;
}

.Contact-Submit:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.6;
}

/* ----------------------- */
/* footer
/* ----------------------- */
.Footer {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  padding: 10vh 0;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-weight: 400;
}

.Footer p {
  margin: 0;
}

.twitter {
  color: #6a9ccf;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  line-height: 50px;
  margin-bottom: 4vh;
}

/* ----------------------- */
/* Work-Page
/* ----------------------- */
.Work-Page-Content {
  margin: 15vh 4vw 25vh;
}

.Work-Page-Cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  /*.Card{
            max-width: 100%;
            text-align: center;
            flex: 0 31%;
            margin: 4vh 0;
            img{
                width: 100%;
            }
        }*/
}

.Work-Page-Cards .Link {
  /*max-width: 100%;
            text-align: center;
            flex: 0 31%;
            margin: 4vh 0;*/
  background: #E8E8E8;
  display: block;
}

.Work-Page-Cards .Link figure {
  margin: 0;
}

.Work-Page-Cards .Link img {
  width: 100%;
}

.Work-Page-Cards .Link figcaption {
  padding: 0 0 2vh 2vh;
  text-align: left;
}

.Work-Page-Cards .Link p {
  color: #1a1a1a;
  display: inline;
}

.Work-Page-Cards .Link p:first-child {
  font-weight: 600;
  margin: 0;
}

.Work-Page-Cards .Link p:last-child {
  font-weight: 200;
}

/* ----------------------- */
/* Work-Selected
/* ----------------------- */
.Work-Header {
  background-color: #E8E8E8;
  /* old browser */
  background-position: 50% 65%;
  background-size: 500px;
  background-repeat: no-repeat;
  height: 80vh;
  /*padding-top: 10.6vh;*/
}

.Narisan {
  background-image: url(../../asset/img/narisan.png);
}

.Nuno-sample {
  background-image: url(../../asset/img/nuno-sample.png);
}

.Motooblog {
  background-image: url(../../asset/img/motooblog.png);
}

.Work-Content {
  margin: 15vh 4vw 45vh;
}

.Work-Content .Heading {
  font-size: 30px;
  color: #1a1a1a;
  margin-bottom: 8vh;
}

.Work-Summary .Detail {
  font-size: 16px;
  width: 42vh;
  float: left;
}

.Work-Summary .Detail ul {
  margin: 0 0 3vh 0;
  padding: 0;
}

.Work-Summary .Detail ul li {
  margin-bottom: 1vh;
}

.Work-Summary .Detail ul li:nth-last-child(1) {
  margin-bottom: 4vh;
}

.Work-Summary .Detail span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

.Work-Summary .Detail a {
  background: #B69AF8;
  border-radius: 20px;
  color: white;
  padding: 1.5vh 2vh;
}

.Work-Summary .Text {
  font-size: 16px;
}

.Work-PCview {
  clear: left;
  text-align: center;
  margin-bottom: 15vh;
}

.Work-PCview img {
  border: 1px solid #a9a9a9;
  width: 50vw;
}

.Work-SPview {
  margin-bottom: 15vh;
}

.Iphone-Device {
  position: relative;
  margin: 30px auto;
  background-color: white;
  width: 250px;
  padding: 10px;
  border-radius: 40px;
  -webkit-box-shadow: 0 1px 24px #999;
          box-shadow: 0 1px 24px #999;
}

.Wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 490px;
  border: 1px solid #a9a9a9;
  border-radius: 30px;
  background-color: white;
}

.Wrapper img {
  position: relative;
  /*width: $iphone-width -15px;*/
  border: 0;
}

.Sensor {
  background: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 14px;
  left: 50%;
  margin-left: -59px;
  position: absolute;
  top: 10px;
  width: 120px;
  z-index: 5;
}

/* ----------------------- */
/* import(media quary)
/* ----------------------- */
/* ---------------------------------------------- */
/* max-width 956px
/* ---------------------------------------------- */
@media (max-width: 956px) {
  /* ----------------------- */
  /* base
/* ----------------------- */
  .Heading {
    text-align: left;
  }
  /* ----------------------- */
  /* header
/* ----------------------- */
  /* ----------------------- */
  /* main
/* ----------------------- */
  /* ----------------------- */
  /* Profile
/* ----------------------- */
  /* ----------------------- */
  /* About
/* ----------------------- */
  /* ----------------------- */
  /* Service
/* ----------------------- */
  /* ----------------------- */
  /* Work
/* ----------------------- */
  .Work-Cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Work-Cards .Card {
    background: #E8E8E8;
    max-width: 100%;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 90%;
            flex: 0 90%;
    padding: 3vh 4vw 0;
  }
  .Work-Cards .Card img {
    margin-bottom: 0;
    width: 80%;
  }
  /* ----------------------- */
  /* Contact
/* ----------------------- */
  /* ----------------------- */
  /* footer
/* ----------------------- */
}

/* ------max-width 956px end ------------------------------------------- */
/* ---------------------------------------------- */
/* max-width 760px
/* ---------------------------------------------- */
@media (max-width: 760px) {
  /* ----------------------- */
  /* base
/* ----------------------- */
  .Heading {
    font-size: 30px;
    font-weight: 600;
  }
  /* ----------------------- */
  /* header
/* ----------------------- */
  .Header {
    line-height: 3vh;
  }
  .Header-Inner a {
    z-index: 4;
  }
  h1 {
    font-size: 20px;
  }
  .Nav nav {
    display: none;
  }
  .Nav-Label {
    display: block;
    position: fixed;
    top: 1.8%;
    right: 2vh;
    z-index: 4;
    width: 32px;
    height: 25px;
    cursor: pointer;
  }
  .Nav-Label:before {
    background-color: white;
    border-radius: 5px;
    content: "";
    height: 3px;
    position: absolute;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    width: 30px;
    top: 110%;
  }
  .Nav-Label:after {
    background-color: white;
    border-radius: 5px;
    content: "";
    height: 3px;
    position: absolute;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: 0.6s;
    transition: 0.6s;
    width: 30px;
    top: 90%;
  }
  .Nav-Checkbox:checked ~ nav {
    display: block;
    height: 100%;
    /*top: 0%;*/
    left: 0%;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(120deg, #cfa4f9 0%, #61a9f1 100%);
    z-index: 2;
  }
  .Nav-Checkbox:checked ~ nav a {
    font-size: 23px;
  }
  .Nav-Checkbox:checked ~ nav .Nav-Items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 20vh;
    left: 5vw;
  }
  .Nav-Checkbox:checked ~ nav .Nav-Item {
    line-height: 3;
  }
  .Nav-Checkbox:checked ~ .Nav-Label:before {
    -webkit-transform: rotate(45deg) translate(0px);
            transform: rotate(45deg) translate(0px);
    top: 47%;
  }
  .Nav-Checkbox:checked ~ .Nav-Label:after {
    -webkit-transform: rotate(-45deg) translate(0px);
            transform: rotate(-45deg) translate(0px);
    top: 47%;
  }
  /* ----------------------- */
  /* main
/* ----------------------- */
  /* ----------------------- */
  /* Profile
/* ----------------------- */
  .Profile-Layout {
    padding: 37vh 10vw 0;
  }
  .Profile-Layout img {
    width: 60px;
    float: none;
    margin-bottom: 3vh;
    margin-right: 0;
  }
  .Profile-Layout p {
    margin: 0 auto;
  }
  .Profile-Layout p:nth-child(2) {
    font-size: 30px;
  }
  .Profile-Layout p:nth-child(3) {
    font-size: 14px;
  }
  /* ----------------------- */
  /* About
/* ----------------------- */
  .About {
    margin: 6vh 10vw;
    padding: 0;
    text-align: center;
  }
  .About img {
    float: none;
    margin-bottom: 4vh;
    margin-right: 0;
    width: 150px;
  }
  .About p {
    text-align: left;
  }
  .About p:nth-child(3) {
    font-size: 16px;
  }
  .About p:nth-child(4) {
    font-size: 14px;
  }
  /* ----------------------- */
  /* Service
/* ----------------------- */
  .Service {
    padding: 6vh 10vw 10vh 10vw;
  }
  .Service img {
    width: 90px;
  }
  .Service .Service-List {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Service .Service-List .Service-Item {
    max-width: 100%;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 90%;
            flex: 0 90%;
    padding: 0 0;
    margin: 3vh 0;
  }
  .Service .Service-List .Service-Item img {
    margin-bottom: 1vh;
  }
  .Service .Service-List .Service-Item p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2vh;
    letter-spacing: 1px;
  }
  .Service .Service-List .Service-Item p:nth-child(3) {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.9;
    letter-spacing: 1.5px;
  }
  /* ----------------------- */
  /* Work
/* ----------------------- */
  .Work {
    margin: 8vh 10vw 10vh;
  }
  /* ----------------------- */
  /* Contact
/* ----------------------- */
  .Contact {
    margin: 15vh 10vw 10vh;
  }
  .Contact-Inner input {
    max-width: 100%;
  }
  .Contact-Inner textarea {
    width: 100%;
  }
  .Contact-Submit {
    width: 100%;
  }
  /* ----------------------- */
  /* footer
/* ----------------------- */
  .Footer {
    padding: 3vh 0;
  }
  .twitter {
    margin-bottom: 1vh;
  }
  /* ----------------------- */
  /* Work-Page
/* ----------------------- */
  .Work-Page-Content {
    margin: 6vh 10vw;
  }
  .Work-Page-Cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  /* ----------------------- */
  /* Work-Selected
/* ----------------------- */
  .Work-Header {
    height: 100vw;
    background-size: 80%;
    padding-top: 6.6vh;
  }
  .Work-Content {
    margin: 6vh 10vw;
  }
  .Work-Content .Heading {
    font-size: 20px;
  }
  .Work-Summary .Detail {
    font-size: 14px;
    float: none;
    margin-bottom: 5vh;
    width: auto;
    font-weight: 300;
  }
  .Work-Summary .Detail span {
    font-size: 12px;
  }
  .Work-Summary .Text {
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
  }
  .Work-PCview img {
    width: 80%;
  }
  .Work-SPview {
    margin-bottom: 15vh;
  }
}

/* ------max-width 760px end ------------------------------------------- */
/*# sourceMappingURL=style.css.map */